<h1>Dragon ball page</h1>
<hr />

<section>
  <div class="col-12 col-sm-6">
    <h3>Agregar:{{name()}}</h3>
    <input
    type="text"
    class="form-control"
    placeholder="Nombre"
    [value]="name()"
    (change)="name.set(txtName.value)"
    (input)="name.set(txtName.value)"
    #txtName
    />
    <!-- el operador delante de txtPower.value (+) se le llama operador unario de suma que como funcion es convertir un tipo de valor a tipo numerico -->
    <input
    type="number"
    class="form-control mt-2"
    placeholder="Poder"
    [value]="power()"
    (change)="power.set(+txtPower.value)"
    (input)="power.set(+txtPower.value)"
    #txtPower
    />
  </div>

  <button (click)="addCharacter()" class="btn btn-primary mt-2">
    Agregar
  </button>

  <div class="col-12 col-sm-6">
    <h3>Listados fuertes:</h3>
    <ul>
      <!-- ul es la forma en puntos del order list (123)(***)-->
      @for (character of characters(); track character.id; let idx = $index) {

        @if(character.power > 500){
        <li>
          <span>{{ idx + 1 }} - {{ character.name }}</span>
          <strong [class.text-danger]="character.power>9000"
            [class.text-info]="character.power<9000">({{ character.power }})</strong>
        </li>
      }@else{
        <li><strong>Aqui no vale la pena ver nada</strong></li>
      }
    }
    </ul>
  </div>
</section>
